.leagueDetailBanner{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    align-items: center;
    justify-content: center;
}
.league-header{
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center
}
.league-header img{
    width: 200px;
    margin-right: 10px;
}
.league-header h2{
    font-weight: bold;
}
img{
    width: 100%;
}
.league-detail-container{
    background: rgb(14, 10, 42);
    padding-top: 20px;
    padding-bottom: 30px;
}
.player-image img{
    width: 400px;
}
.league-info{
    background:#395457;
    box-sizing: border-box;
    border-radius:10px;
    color: #fff;
}
.description p{
    color: #bababa;
}
.icon{
    text-align: center;
}
.icon img{
    width: 50px;
}



@media (max-width:500px){
    .player-image img{
        width: 100%;
    }
}